body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
    color: #fc0000;
    margin: 0;
}

.game-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

#status {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ffcc00;
}

#board {
    display: grid;
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(15, 30px);
    gap: 1px;
    background-color: #000000;
    
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cell:hover {
    background-color: #b9ef84;
}

.cell.x {
    color: #ff3333;
}

.cell.o {
    color: #3399ff;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}